<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aichi.booksystem.mapper.BooksMapper">

    <!--    插入书籍信息-->
    <insert id="insertBook" useGeneratedKeys="true" keyProperty="bId">
        insert into books(bId, bName, author, pubComp, pubDate, bCount) values (#{bId}, #{bName}, #{author}, #{pubComp}, #{pubDate}, #{bCount})
    </insert>

    <!--    查询所有书籍数量-->
    <select id="getBooksCount" resultType="Integer">
        SELECT count(*) FROM books
    </select>

    <!--    查询所有书籍信息-->
    <select id="getBooks" resultType="com.aichi.booksystem.bean.Books">
        select * from books limit ${(page - 1)*10},
        <choose>
            <when test="(count % 10 != 10) and (page == count / 10 + 1)">
                ${count % 10}
            </when>
            <otherwise>
                10
            </otherwise>
        </choose>
    </select>

    <!--    根据书名模糊查询-->
    <select id="getBooksByName" resultType="com.aichi.booksystem.bean.Books">
        select * from books where bName like concat('%',#{bName},'%')
    </select>

    <!--    根据作者模糊查询-->
    <select id="getBooksByAuthor" resultType="com.aichi.booksystem.bean.Books">
        select * from books where author like concat('%',#{author},'%')
    </select>

</mapper>