<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aichi.booksystem.mapper.BorrowRecordsMapper">
<!--    建立借书记录-->
<insert id="borrowBooks" useGeneratedKeys="true" keyProperty="borrowId">
        insert into borrowrecords(borrowId, bId, id, expReturnDate, borrowDate) values (#{borrowId}, #{bId}, #{id}, DATE_FORMAT(date_add(now(), interval 7 day),"%Y-%m-%d %T"), DATE_FORMAT(now(),"%Y-%m-%d %T"))
    </insert>

<!--    根据图书编号查看库存-->
<select id="getbCount" resultType="Integer">
        select bCount from books where bId=#{bId}
    </select>

<!--    查询借书未还次数-->
<select id="getBorrowCount" resultType="Integer">
        select COUNT(*) from borrowrecords where id=#{id} and returnDate is null
    </select>

<!--    借书-->
<update id="setBooksCount">
        update books set bCount=bCount-1 where bId=#{bId}
    </update>

<!--    根据读者编号查询借书记录-->
    <select id="getBorrowById" resultType="com.aichi.booksystem.bean.BorrowRecords">
        select * from borrowrecords where id=#{id} limit ${(page - 1)*10}   ,
        <choose>
            <when test="(count % 10 != 10) and (page == count / 10 + 1)">
                ${count % 10}
            </when>
            <otherwise>
                10
            </otherwise>
        </choose>
    </select>

<!--    还书-->
<update id="returnBooks">
        update borrowrecords set returnDate=DATE_FORMAT(now(),"%Y-%m-%d %T") where borrowId=#{borrowId}
    </update>

<!--    根据借书编号查询图书编号-->
    <select id="getBorrowIdByBooksId" resultType="Integer">
        select bId from borrowrecords where borrowId=#{borrowId}
    </select>

    <!--    还书，书籍数量+1-->
    <update id="addBooks">
        update books set bCount=bCount+1 where bId=#{bId}
    </update>

<!--    根据结束编号查询借书记录-->
    <select id="getBorrow" resultType="com.aichi.booksystem.bean.BorrowRecords">
        select * from borrowrecords where borrowId=#{borrowId}
    </select>

<!--    根据读者编号查询借书次数-->
    <select id="getBorrowCountById" resultType="Integer">
        select count(*) from borrowrecords where id=#{id}
    </select>
</mapper>